beautifulsoup4
jupyterlab
konlpy
lightgbm
matplotlib
nest-asyncio
numpy
openpyxl
optuna
pandas
Pillow
requests
scikit-learn
scipy
seaborn
selenium
shap
torch
tqdm
transformers
undetected-chromedriver
webdriver-manager
wordcloud
xgboost
